{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Data List</title>
    <script src="{% static 'chart.umd.min.js' %}"></script>
</head>
<body>
<h1>Data List</h1>
<canvas id="line-chart"></canvas>
</body>

<script>
// 获取后端传递的数据
var sensorDataList = JSON.parse('{{ sensor_data_list_json|safe }}');


// 提取数据
var ids = [];
var aAngles = [];
var rRadiates = [];
var sRadiates = [];
var dRadiates = [];
var bAngles = [];

sensorDataList.forEach(function(sensorData) {
    ids.push(sensorData.id);
    aAngles.push(sensorData.a_angle);
    rRadiates.push(sensorData.R_radiate);
    sRadiates.push(sensorData.S_radiate);
    dRadiates.push(sensorData.D_radiate);
    bAngles.push(sensorData.b_angle);
});

// 创建图表并渲染
var data = {
    labels: ids,
    datasets: [
        {
            label: 'A Angle',
            data: aAngles,
            borderColor: 'red',
            fill: false
        },
        {
            label: 'R Radiate',
            data: rRadiates,
            borderColor: 'blue',
            fill: false
        },
        {
            label: 'S Radiate',
            data: sRadiates,
            borderColor: 'green',
            fill: false
        },
        {
            label: 'D Radiate',
            data: dRadiates,
            borderColor: 'yellow',
            fill: false
        },
        {
            label: 'B Angle',
            data: bAngles,
            borderColor: 'orange',
            fill: false
        }
    ]
};

var options = {
    responsive: true
};

var ctx = document.getElementById('line-chart').getContext('2d');
new Chart(ctx, {
    type: 'line',
    data: data,
    options: options
});
</script>
</html>